/* ================================
   Grid Overlay
   ================================ */
.grid-overlay{
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  &.visible{
    display: block;
  }
  .row{
    @include grid-collapse;
    min-height: 100vh;
  }
  .grid-element{
    @include grid-column(1);
    background: rgba(blue, 0.125);
    min-height: 100vh;
  }
}
.grid-trigger{
  position: fixed;
  bottom: 1.5em;
  right: 2em;
  z-index: 1001;

  text-transform: uppercase;
  display: inline-block;
  padding: 8px 16px;
  line-height: 1.125;
  font-weight: normal;
  background-color: blue !important;
  border: 0;
  border-radius: 8px;
  margin-bottom: 0;
  color: #fff;
  opacity: 0.5;
  &.activate{
    // background: darken(blue,10%) !important;
    // color: #fff !important;
    opacity: 1;
  }
}
