<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
  <%= partial "/base/head" %>
  <body class="<%= page_classes %>">
  	<a class="skipnav" href="#maincontent">Skip to main content</a>
    <%= partial "/custom/header" %>
  	<div id="maincontent">
      <%= yield %>
    </div><!--#maincontent for accessibility skip to main content link-->
    <%= partial "/custom/back-to-top" %>
    <%= partial "/custom/footer" %>
    <%= partial "/custom/grid-overlay" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <%= javascript_include_tag "vendor/modernizr.min", "vendor/flickity", "vendor/flickity-imageLoaded", "index" %>
  </body>
</html>
