
$accodion-spacing: $base-margin/2;
.accordion{
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li{
    margin-bottom: 1px;
  }
  .accordion--button{
    position: relative;
    background: none;
    border-radius: 0;
    background: $gray;
    color: $light-text-color;
    padding: $accodion-spacing;
    margin: 0;
    display: block;
    width: 100%;
    text-align: left;
    &:focus{
      outline: 1px dashed rgba(0,0,0,0.5);
    }
    &[aria-expanded="false"]:after{
      content: "+";
      display: block;
      position: absolute;
      top: $accodion-spacing;
      right: $accodion-spacing;
    }
    &[aria-expanded="true"]:after{
      content: "-";
      display: block;
      position: absolute;
      top: $accodion-spacing;
      right: $accodion-spacing;
    }
  }
  .accordion--body{
    padding: $accodion-spacing;

  }
}
