/* ================================
   Base (Custom)
   ================================ */

//Structural

body{
  min-width: 250px;
  overflow-x: hidden;
  background: $background-color;
}
.container, .contained{
  max-width: 1600px;
  padding: 0 1em;
  margin: 0 auto;
  display: block;
  @media(min-width: $bp-medium){
    width: 95%;
    padding: 0;
  }
  @media(min-width: $bp-xlarge){
    width: 90%;
  }
  &:before{
    content: "";
    display: table;
  }
  &:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
  }
  &.relative{
    position: relative; //to keep absolute things in this container
  }
}

.more-link:after{
  content: "\f301";
  font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  padding-left: 5px;
  transition: transform 200ms ease-in-out;
}
.more-link:hover:after{
  transform: translateX(10px);
}
