/* ================================
   Breadcrumbs
   ================================ */
.breadcrumbs{
	padding: 0;
	margin: 0 0 $base-margin/2 0;
	li{
		display: inline-block;
	}
	li:after{
		content: "\f2fb";
		font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
		display: inline-block;
		font-size: inherit;
		text-rendering: auto;
		padding-left: 5px;
	}
}
