/* ================================
   Buttons
   ================================ */
$btn-font-size: 16px;
$btn-large-font-size: 18px;

button, .btn{
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	/* Override default Webkit/Firefox button styling */
	background-image: none;
	-webkit-appearance: none;
	font-size: $btn-font-size;
	display: inline-block;
	padding: ($btn-font-size / 2) $btn-font-size;
	line-height: $btn-font-size;
	font-weight: normal;
	border: 0;
	border-radius: $fh-border-radius;
	margin: 0 3px 6px 3px;
	color: $btn-text-color;
	text-decoration: none;
	background-color: $btn-background-color;
	&:visited{
		color: $btn-text-color;
		&:hover, &:focus, &:active{
			color: $btn-text-color;
		}
	}
	&:hover, &:focus, &:active{
		color: $btn-text-color;
	}
}


//Button States (Hover, Active, Disabled)
.btn:hover,
.btn.hover,
a .btn:hover,
.btn.active {
	background-color: $btn-hover-color;
	text-decoration: none;
}
.btn:active,
.btn.active,
.btn:focus,
.btn.focus {
	background-color: $btn-active-color;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
	outline: 0;
	transform: scale(1.05);

}
.btn.disabled,
.btn[disabled] {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.5;
	filter: alpha(opacity=50);
    box-shadow: none;
}





//Transparent
button.transparent, .btn-transparent{
	color: $btn-text-color;
	background-color: $btn-transparent-background-color;
}
.btn-transparent:hover,
.btn-transparent.hover,
a .btn-transparent:hover,
.btn-transparent.active {
	background-color: $btn-transparent-hover-color;
}
.btn-transparent:active,
.btn-transparent.active,
.btn-transparent:focus,
.btn-transparent.focus {
	background-color: $btn-transparent-active-color;
}

//Secondary
button.secondary, .btn-secondary{
	color: $btn-text-color;
	background-color: $btn-secondary-background-color;
}
.btn-secondary:hover,
.btn-secondary.hover,
a .btn-secondary:hover,
.btn-secondary.active {
	background-color: $btn-secondary-hover-color;
}
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary:focus,
.btn-secondary.focus {
	background-color: $btn-secondary-active-color;
}

//Alternative
button.alternative, .btn-alternative{
	color: $btn-text-color;
	background-color: $btn-alternative-background-color;
}
.btn-alternative:hover,
.btn-alternative.hover,
a .btn-alternative:hover,
.btn-alternative.active {
	background-color: $btn-alternative-hover-color;
}
.btn-alternative:active,
.btn-alternative.active,
.btn-alternative:focus,
.btn-alternative.focus {
	background-color: $btn-alternative-active-color;
}


.btn-large {
	padding: ($btn-large-font-size / 2) $btn-large-font-size;
	font-size: $btn-large-font-size;
	line-height: normal;
}

.btn-full {
	padding: ($btn-large-font-size / 2) $btn-large-font-size;
	font-size: $btn-large-font-size;
	line-height: normal;
	width: 100%;
}

//No Style button for accessible dropdowns/accordions/navs
button.clean{
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	/* Override default Webkit/Firefox button styling */
	background-image: none;
	-webkit-appearance: none;
	font-size: $btn-font-size;
	display: inline-block;
	padding: 0;
	line-height: $btn-font-size;
	font-weight: normal;
	border: 0;
	border-radius: 0;
	margin: 0;
	color: $primary-text-color;
	text-decoration: none;
	background-color: transparent;
	&:visited{
		color: $primary-text-color;
		&:hover, &:focus, &:active{
			color: $primary-text-color;
		}
	}
	&:hover, &:focus, &:active{
		color: $primary-text-color;
	}
}
