/* ================================
   Carousel - Hero
   ================================ */

.carousel-hero{
    @include row(12);
    padding-bottom: $base-margin;

    .flickity-viewport{
        width: 100%;
    }
    .flickity-slider{
        //@include row(12);
    }
    .hero-slide{
       width: 100%;
    }
    .slide-image{

    }

    .slide-text{
       position: relative;
       @media (min-width: $bp-medium){
        position: absolute;
        bottom: 0;
        left: 0;
       }
    }
}
