/* ================================
   Footer
   ================================ */
footer#footer{
	@include row(12);
}
.pre-footer,
.footer-main,
.post-footer{
	@include column(12);
}



//Pre-Footer
.pre-footer{
	display: block;
	background: $gray-light;
}
.pre-footer-inner{
	@include row(12);
}
.pre-footer-left{
	@include column(12);
	margin-bottom: $base-margin/2;
	@media(min-width: $bp-menu-shift){
		@include column(6);
	}
}
.pre-footer-right{
	@include column(12);
	@media(min-width: $bp-menu-shift){
		text-align: right;
		@include column(6);
	}
}


//Footer-Main
.footer-main{
	background: $gray-medium;
	padding: $base-margin/2 0;
}
.footer-main-inner{
	@include row(12);
	position: relative;
}
.footer-main-left{
	@include column(12);
	margin-bottom: $base-margin/2;
	@media(min-width: $bp-menu-shift){
		@include column(8);

	}
}
.footer-main-right{
	@include column(12);
	@media(min-width: $bp-menu-shift){
		text-align: right;
		@include column(4);
		@include vertically-centered;
	}
}

.logo-footer-main{
	margin-bottom: $base-margin/2;
}
.nav-footer-main{
	nav{

	}
	li{
		display: inline-block;
		border-left: 1px solid $gray-dark;
		padding: 0 $base-margin/2;
	}
	li:first-child{
		border-left: 0;
		padding-left: 0;
	}
}

.social-title{
	display: inline-block;
}
.social-footer{
	display: inline-block;
	li{
		display: inline-block;
		padding: 0 $base-margin/4;
	}
}

//Post-Footer
.post-footer{
	display: block;
	background: $gray-dark;
}
.post-footer-inner{
	@include row(12);
}
.post-footer-left{
	@include column(12);
	margin-bottom: $base-margin/2;
	@media(min-width: $bp-menu-shift){
		@include column(6);
	}
}
.post-footer-right{
	@include column(12);
	@media(min-width: $bp-menu-shift){
		@include column(6);
		text-align: right;
	}
}




//Back to Top
.back-to-top{
	background: gray;
	display: block;
	@media (min-width: $bp-medium){
		display: none;
	}
	.row{
		margin-bottom: 0;
	}
}
.top-trigger{
	text-align: center;
	padding-top: $base-margin/4 ;
	padding-bottom: $base-margin/4;
	cursor: pointer;
	a{
		display: block;
		text-decoration: none;
		color: $white;
	}
}
