/* ================================
   Header
   ================================ */

	 header#header{
	 	@include row(12);
	 	z-index: 30;
	 	height: $header-height;
	 	position: relative;
		background: $gray-medium;
	 }
	 //Header Main
	 .header-main{
	 	display: none;
	 	@media(min-width: $bp-menu-shift){

	 		display: block;
	 	}
	 }
	 .header-main-inner{
	 	@include row(12);
	 	position: relative;
	 }
	 .header-main-left{
	 	@include column(12);
	 	@media(min-width: $bp-menu-shift){
	 		@include column(4);

	 		left: 0;
	 	}
	 	.global-navigation{
	 		@include vertically-centered;
	 		text-align: left;
	 	}
	 }
	 .header-main-middle{
	 	@include column(4);
	 	@include push(4);
	 	text-align: center;
	 }
	 .header-main-right{
	 	display: none;
	 	@media(min-width: $bp-menu-shift){
	 		display: block;
	 		@include column(4);
	 		// @include vertically-centered;
	 		// text-align: right;
	 	}
	 	.global-navigation{
	 		@include vertically-centered;
	 		text-align: right;
	 		right: 0;
	 	}
	 }
	 //Logo
	 .logo-container{
	 	max-width: 400px;
	 }


	 //Mobile Header
	 #header-mobile{
	 	position: fixed;
	 	background: $gray-medium;
	 	top: 0;
	 	left: 0;
	 	width: 100%;
	 	z-index: 30;
	 	height: $header-height;
	 	border-bottom: 1px solid $gray;
	 	display: block;
	 	@media (min-width: $bp-menu-shift){
	 		display: none;
	 	}
	 	.header-left{
	 		@include column(3);
	 		position: relative;
	 		.trigger{
	 			@include column(6);
	 		}
	 	}
	 	.header-middle{
	 		@include column(6);
	 		text-align: center;
	 		position: relative;
	 	}
	 	.header-right{
	 		@include column(3);
	 		position: relative;
	 		.trigger{
	 			@include column(6);
	 		}
	 	}
	 	//Nav Triggers/Buttons
	 	.trigger{
	 		height: $header-height;
	 		width: $header-height;
	 		display: inline-block;
	 		position: relative;
	 		// @media(min-width: $bp-menu-shift){
	 		// 	display: none;
	 		// }
	 		.icon{
	 			cursor: pointer;
	 			color: $light-text-color;
	 			position: absolute;
	 			top: 50%;
	 			left: 50%;
	 			transform: translateX(-50%) translateY(-50%);
	 			transition: color 200ms linear;
	 			display: inline-block;
	 			font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
	 			text-rendering: auto;
	 			-webkit-font-smoothing: antialiased;
	 			font-size: 30px;
	 			&.account:before{
	 				content: '\f206';
	 			}
	 			&.menu:before{
	 				content: '\f197';
	 			}
	 			&.search:before{
	 				content: '\f1c3';
	 			}
	 			&.quicklinks:before{
	 				content: '\f18e';
	 			}
	 		}
	 		&.open .icon{
	 			color: $primary-text-color;
	 			&:before{
	 				content: '\f136';
	 			}
	 			// &.account:before{
	 			// 	content: '\f207';
	 			// }
	 		}
	 	}
	 }

//Fixed Header
	 .header-fixed{
	   position: fixed;
	   width: 100%;
	   top: 0;
	   z-index: 25;
	 }
	 header#header{
	   z-index: 30;
	 }
	 .navigation-main{
	 	z-index: 25;
	 	top: 0;
	 	transition: top 0.25s cubic-bezier(0.33, 0, 0, 0.99);
	 }
	 .nav-offcanvas#right-offcanvas,
	 .nav-offcanvas#left-offcanvas{
	   z-index: 29;
	 }
	 .nav-offcanvas#search-offcanvas{
	   z-index: 20;
	 }
	 //Headroom.js classes
	 //At the Top
	 .headroom--pinned.headroom--top{
	 	top: 0;
	 }

	 //Not at top, scrolling down
	 .headroom--not-top.headroom--unpinned{
	 	top: -$nav-height;
	 }

	 //Not at top, scrolling up
	 .headroom--not-top.headroom--pinned{
	 	top: 0;
	 }


	 .page-body{
	   margin-top: $header-height;
	   @media(min-width: $bp-menu-shift){
	   	margin-top: $header-height + $nav-height;
	   }
	 }
