/* ================================
   Heros
   ================================ */

.hero-image{
    position: relative;
    padding-bottom: 46.875%; // ratio of the image converted to percent
    background: $gray-light;
    overflow: hidden;
    margin-bottom: $base-margin;
    &.thin{
        padding-bottom: 31.25% !important;
    }
    img{
        position: absolute;
        top: 0;
    }
}

.hero-text{
    position: relative;
    width: 100%;
    padding: $base-margin 0;
    @media (min-width: $bp-xlarge){
        background: $gray-dark;
        position: absolute;
        width: 50%;
        bottom: $base-margin;
        left: 0;
        margin: $base-margin;
        padding: $base-margin;
    }
    h3, p{
        margin: 0;
    }
}
