/* ================================
   Logo Grid
   ================================ */
.logo-grid{
  @include grid-collapse;
	@include grid-container;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: none;
  li{
    @include grid-column(6);
    margin-bottom: $base-margin/2;
    @media(min-width: $bp-large){
      @include grid-column(4);
      margin-bottom: $base-margin/2;
      //display: table;
    }
  }
}
