/* ================================
   Media
   ================================ */

//Images

//OFFSETS (Images, Blockquotes)
.offset{
	margin-bottom: $base-margin !important;
	@media(min-width: $bp-medium){
		margin-top: 10px !important;
		margin-bottom: $base-margin/2 !important;
	}
}
//Left offset
.left-offset, img.left, .alignleft{
	width: 100%;
	float: left;
	display: inline;
	transition: width 5ms linear !important;
	@media(min-width: $bp-medium){
		@include grid-column(5);
		margin-right: $base-margin;
		margin-left: 0;
	}
}

//Left offset
.right-offset, img.right, .alignright{
	width: 100%;
	float: left;
	display: inline;
	transition: width 5ms linear !important;
	@media(min-width: $bp-medium){
		@include grid-column(5);
		float: right !important;
		margin-left: $base-margin;
		margin-right: 0;
	}

}

//Image Caption
.image-caption, figcaption{
	margin-top: 5px;
	font-size: 14px;
  @media(min-width: $bp-medium){
  font-size: 16px;
  }
}


//Videos
//Responsive (YouTube ratio)
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}
.videoWrapper iframe,
.videoWrapper object,
.videoWrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
