/* ================================
   Navigation
   ================================ */
//Offcanvas Double Mobile Menu
.nav-offcanvas{
	margin-top: $header-height;
	//margin-bottom: $base-margin*2;
	background: $white;
	color: $primary-text-color;
	height: calc(100vh - #{$header-height});
	display: block;
	position: fixed;
	min-width: 100%;
	top: 0;
	z-index: 29;
	@media(min-width: $bp-small){
		min-width: 50%;
	}
	@media(min-width: $bp-xlarge){
		min-width: 35%;
	}
	&#left-offcanvas{
		transition: left 0.7s cubic-bezier(0.33, 0, 0, 0.99);
		left: -200%;
		&.open{
			left: 0;
		}
	}
	&#right-offcanvas{
		transition: right 0.7s cubic-bezier(0.33, 0, 0, 0.99);
		right: -200%;
		&.open{
			right: 0;
		}
	}
	&.open{
		top: 0;
		overflow: auto;
	}
}

//Nav within the offcanvas
.nav-menu{
  height: 100%;
  display: block;
  //Level colors
  .level-2{
    background: #ddd;
  }
  &.open{
    left: 0;
    top: 0;
    overflow: auto;
    @media(min-width: $bp-menu-shift){
      overflow: visible;
    }
  }
  nav{
    list-style: none;
    border-bottom: 1px dashed $gray;
    margin-bottom: $base-margin/2;
    li a{
      padding: $base-margin/2;
      display: block;
      //border-bottom: 1px solid #ccc;
    }
    a:hover, a:focus, a:active{
      background: #ccc;
    }
  }
}

//Overlay for open mobile menu
.overlay{
	position: absolute;
	opacity: 0;
	transition: opacity 1.25s cubic-bezier(0.33, 0, 0, 0.99);
	&.visible{
		z-index: -1;
		width: 100%;
		height: 100%;
		background: rgb(0,0,0);
		opacity: 0.35;
		cursor: pointer;
		z-index:19;
		position: fixed;
		top: 0;
		left: 0;
	}
	//makes "document" clickable on touch devices
	.touchevents &{
		cursor: pointer;
	}
}
//Disable body scroll when menu open
.disable-scroll{
	overflow: hidden;
	// @media (min-width: $bp-menu-shift){
	// 	overflow-x: hidden;
	// 	overflow-y: visible;
	// }
}
