/* ================================
   Profile
   ================================ */

.profile{
	@include grid-collapse;
	@include grid-container;
	margin-bottom: $base-margin;
	.profile-image{
		@include grid-column(3);
	}
	.profile-text{
		@include grid-column(9);
		.name, .title, .bio{
			display: block;
		}
		.name{
			font-weight: bold;
		}
		.title{
			font-style: italic;
		}
	}
	.text-container.full-width{
		@include grid-column(12);
	}
	h4{
		margin: 0;
	}
}
