/* ================================
   Tabs
   ================================ */
.tabbed-content {
 position: relative;
 display: block;
 width: 100%;
 float: left;
 .tabs-list {
   position: relative;
   display: block;
   width: 100%;
   float: left;
   margin-left: 0;
   margin-top: 0;
   margin: 0;
   li {
     list-style-type: none;
     text-align: center;
     display: block;
     float: left;
     width: 100%;
     @media (min-width: $bp-small){
       display: inline-block;
       width: auto;
     }
     &.current, &:hover, &:focus {
       background-color: $gray;
     }
     &.current a, &:hover a, &:focus a {
       color: #fff;
     }
     .tab {
       display: inline-block;
       padding: 1em 1.2em;
       text-align: center;
       height: 100%;
       width: 100%;
     }
   }
 }
 .tab-panel {
   display: none;
   &.current {
     clear: both;
     display: block;
     padding: 1em;
     border: 1px solid #ccc;
   }
 }
}
