<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55c8ac612ba1475c" async="async"></script>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55c8ac612ba1475c" async="async"></script>

<div class="addthis_toolbox">
	<div class="share custom_images">
		<span class="label">Share this: </span>
		<ul>
			<li>
				<a href="#" class="addthis_button_facebook">
					<span class="hidden">Share on Facebook</span>
					<span class="share-facebook share-sprite"></span>
				</a>
			</li>
			<li>
				<a href="#" class="addthis_button_google_plusone_share">
					<span class="hidden">Share on Google Plus</span>
					<span class="share-googleplus share-sprite"></span>
				</a>
			</li>
			<li>
				<a href="#" class="addthis_button_twitter">
					<span class="hidden">Share on Twitter</span>
					<span class="share-twitter share-sprite"></span>
				</a>
			</li>
			<li>
				<a href="#" class="addthis_button_pinterest_share">
					<span class="hidden">Share on Pinterest</span>
					<span class="share-pinterest share-sprite"></span>
				</a>
			</li>
			<li>
				<a href="/" class="addthis_button_linkedin">
					<span class="hidden">Share on LinkedIn</span>
					<span class="share-linkedin share-sprite"></span>
				</a>
			</li>
		</ul>
	</div>
</div>
