<div class="carousel-hero">
	<div class="hero-slide">
		<a href="#" alt="" title="">
			<div class="slide-image">
				<img src="http://placehold.it/1600x500&text=Image" alt="" title="">
			</div>
			<div class="slide-text">
				<h3>Hero Title</h3>
				<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
			</div>
		</a>
	</div>
	<div class="hero-slide">
		<a href="#" alt="" title="">
			<div class="slide-image">
				<img src="http://placehold.it/1600x500&text=Image" alt="" title="">
			</div>
			<div class="slide-text">
				<h3>Hero Title</h3>
				<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
			</div>
		</a>
	</div>
	<div class="hero-slide">
		<a href="#" alt="" title="">
			<div class="slide-image">
				<img src="http://placehold.it/1600x500&text=Image" alt="" title="">
			</div>
			<div class="slide-text">
				<h3>Hero Title</h3>
				<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
			</div>
		</a>
	</div>
	<div class="hero-slide">
		<a href="#" alt="" title="">
			<div class="slide-image">
				<img src="http://placehold.it/1600x500&text=Image" alt="" title="">
			</div>
			<div class="slide-text">
				<h3>Hero Title</h3>
				<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
			</div>
		</a>
	</div>
	<div class="hero-slide">
		<a href="#" alt="" title="">
			<div class="slide-image">
				<img src="http://placehold.it/1600x500&text=Image" alt="" title="">
			</div>
			<div class="slide-text">
				<h3>Hero Title</h3>
				<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
			</div>
		</a>
	</div>
</div>
