<div class="nav-offcanvas triggered-area vertical-nav" id="left-offcanvas">
	<div class="nav-menu">
		<nav class="">
			<li><a href="/" alt="/" title="/">Nullam Ligula</a></li>
			<li><a href="/" alt="/" title="/">Vestibulum Dolor</a></li>
			<li><a href="" alt="/" title="/">Mollis Parturient Ridiculus</a></li>
			<li><a href="/" alt="/" title="/">Quam Etiam</a></li>
		</nav>
		<nav class="">
			<li><a href="/" alt="/" title="/">Risus Mollis</a></li>
			<li><a href="/" alt="/" title="/">Vehicula</a></li>
			<li><a class="trigger" rel="right-offcanvas" alt="/" title="/">Egestas</a></li>
			<li><a href="/" alt="/" title="/">Quam Adipiscing</a></li>
		</nav>
		<nav>
       <li><a href="/" alt="" title="">Fusce</a></li>
       <li><a href="#" alt="" title="">Parturient Fusce</a></li>
       <li><a href="#" alt="" title="">Tortor</a></li>
       <li><a href="#" alt="" title="">Condimentum</a></li>
		</nav>
		<nav>
      <li><a class="btn" href="#" alt="" title="">Call</a></li>
      <li><a class="btn" href="#" alt="" title="">To</a></li>
      <li><a class="btn" href="#" alt="" title="">Action</a></li>
      <li><a class="btn" href="#" alt="" title="">Buttons</a></li>
    </nav>
	</div>
</div><!--left-offcanvas-->

<div class="nav-offcanvas triggered-area vertical-nav" id="right-offcanvas">
	<div class="nav-menu">
		<div class="account-header">
			<span class="member-greeting account-title loggedin">Hello Stacy!</span>
			<span class="account-title loggedout">
			      <a class="" href="/login.html" alt="/" title="/">Login</a>
			</span>
			<span class="offcanvas-close-button">
				<span class="screen-reader-text">Close Menu</span>
				<span class="zmdi zmdi-close"></span>
			</span>
		</div>
		<nav>
			<li><a href="/my-dashboard/index.html" alt="/" title="/">My Dashboard</a></li>
		</nav>
		<nav>
      <li><a href="#">Malesuada Mattis</a></li>
			<li><a href="#">Fusce</a></li>
			<li><a href="#">Condimentum Porta</a></li>
			<li><a href="#">Porta</a></li>
			<li><a href="#">Nibh</a></li>
		</nav>
		<nav>
			<li><a href="#">Pellentesque Elit</a></li>
			<li><a href="#">Malesuada Porta</a></li>
			<li><a href="#">Fringilla Magna</a></li>
		</nav>
		<nav>
			<li><a href="#">Sit Vehicula</a></li>
			<li><a href="#">Justo Ornare</a></li>
		</nav>
		<nav>
			<li class="">
				<a href="/" alt="/" title="/" class="logout-link">
					<span class="zmdi zmdi-shopping-cart"></span>
					Cart (0)
				</a>
			</li>
		</nav>
		<nav class="loggedin">
			<li class="">
				<a href="/" alt="/" title="/" class="logout-link">
					<span class="zmdi zmdi-account"></span>
					My Account / Logout
				</a>
			</li>
		</nav>
	</div>
</div><!--right-offcanvas-->



<div class="nav-offcanvas triggered-area vertical-nav" id="quicklinks-offcanvas">
	<div class="nav-menu">
		<div class="quicklinks-header">
			<span>Quicklinks</span>
		</div>
		<nav>
      <li><a href="#">Malesuada Mattis</a></li>
			<li><a href="#">Fusce</a></li>
			<li><a href="#">Condimentum Porta</a></li>
			<li><a href="#">Porta</a></li>
			<li><a href="#">Nibh</a></li>
			<li><a href="#">Porta Vestibulum Pellentesque</a></li>
			<li><a href="#">Tristique Pharetra Elit</a></li>
			<li><a href="#">Pellentesque Elit</a></li>
			<li><a href="#">Malesuada Porta</a></li>
			<li><a href="#">Fringilla Magna</a></li>
			<li><a href="#">Mattis Aenean</a></li>
			<li><a href="#">Venenatis Sit Ipsum</a></li>
			<li><a href="#">Inceptos Cras Fringilla</a></li>
			<li><a href="#">Sit Vehicula</a></li>
			<li><a href="#">Justo Ornare</a></li>
		</nav>
	</div>
</div><!--right-offcanvas-->




<div class="nav-offcanvas triggered-area" id="search-offcanvas">
	<div class="input-with-button">
    <input type="search" id="search" class="search-input" autocomplete="off">
    	<a href="">
				<button class="btn">
					<span class="zmdi zmdi-search"></span>
					<span class="screen-reader-text">Search</span>
				</button>
			</a>
  </div>
</div><!--search-offcanvas-->
