<div class="profile">
	<div class="profile-image">
		<%= image_tag "default_profile.jpg"%>
	</div>
	<div class="profile-text">
		<span class="name">Jane Doe</span>
		<span class="title">Very Important Person (VIP)</span>
		<p class="bio">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod.</p>
	</div>
</div>
