<div class="router-row">
	<div class="image-container">
		<img src="http://placehold.it/400x300" alt="/" title="/">
	</div><!--image-container-->
	<div class="text-container">
		<h4>Title Goes Here with Image</h4>
		<p>Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum.</p>
		<a class="more-link" href="/" alt="/" title="/">Learn More</a>
	</div><!--text-container-->
</div><!--router-row-->
