//General Styles
//List for Loops
$colorList:
     (guide-blue-dark, $blue-dark),
     (guide-blue, $blue),
     (guide-blue-light, $blue-light),
     (guide-black, $black),
     (guide-blue-gray, $blue-gray),
     (guide-gold, $gold),
     (guide-yellow, $yellow),
     (guide-cream, $cream),
     (guide-gray-dark, $gray-dark),
     (guide-gray, $gray),
     (guide-gray-light, $gray-light),
     (guide-black, $black),
     (guide-white, $white);


//How to use the loop in SASS:


// @each $loopColor, $name in $colorList {
//   &.#{$loopColor}{
//     background: $name;
//   }
// }


//Colors
ul.color-blocks{
 list-style: none;
 display: inline-block;
 padding-left: 0;
 @include grid-collapse;
 margin-bottom: $base-margin;
}
.color-container{
   border:1px solid #ddd;
   border-radius: 3px;
   @include grid-column(12);
   @media (min-width: 500px){
     @include grid-column(3);
   }
   @media (min-width: 800px){
     @include grid-column(2);
   }

   margin-bottom: 0.5em !important;
   float: left;
   padding: 0.5em;
   &:last-child{
     margin-right: 0;
   }
   .color-style{
     height: 100px;
     border: 1px solid #ddd;
     margin-bottom: 0.5rem;
     //loop variables are in the config/colors.scss fil
     @each $loopColor, $name in $colorList {
       &.#{$loopColor}{
         background: $name;
       }
     }
   }
   .hex, .rgb, .sass{
     font-family: $guide-font;
     font-size: 14px;
     line-height: 1.25;
     text-align: center;
     margin-bottom: 0.25rem;
     display: block;
   }
   .rgb{
     font-size: 12px;
   }
  }
