//Grid Demo
.row{
 @include grid-collapse;
 @include grid-container;
 margin-bottom: 0.75em;
}

.grid{
 background: #ccc;
 text-align: center;
 padding: 1em 0;
}
.one{ @include grid-column(1); }
.two{ @include grid-column(2); }
.three{ @include grid-column(3); }
.four{ @include grid-column(4); }
.five{ @include grid-column(5); }
.six{ @include grid-column(6); }
.seven{ @include grid-column(7); }
.eight{ @include grid-column(8); }
.nine{ @include grid-column(9); }
.ten{ @include grid-column(10); }
.eleven{ @include grid-column(11); }
.tweleve{ @include grid-column(12); }
