//Header
header#guide-header{
  background: $guide-blue;
  // position: fixed;
  // top: 0;
  // left: 0;
  display: flex;
  height: $guide-header-height;
  width: 100%;
  z-index: 100;
  .header-inner{
    max-width: 1300px;
    padding: 0.5rem 1rem;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  .guide-logo{
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
    .icon{
      font-size: 3rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
    .project-title{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 5rem;
      line-height: 1.125;
      font-family: $guide-font;
      font-weight: normal;
    }
    a, a:visited{
        color: $guide-black;
        transition: all 250ms ease;
        &:hover, &:focus, &:active{
          background: $guide-gray;
          color: #52bad5;
          border-radius: 5px;
        }
    }

  }
  .guide-side-trigger{
    position: absolute;
    padding: 1em;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    cursor: pointer;
    @media(min-width: $bp-medium){
      display: none;
    }
    .trigger{
      .zmdi-menu{
        display: block;
      }
      .zmdi-close{
        display: none;
      }
      &.open{
        .zmdi-menu{
          display: none;
        }
        .zmdi-close{
          display: block;
        }
      }
    }
    .icon{
      font-size: 2em;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
  }
}
