/* ================================
   Side Navigation
   ================================ */
#guide-side-nav{
  font-size: 1rem;
  a, a:visited{
    color: $guide-black;
  }
  ul{
    padding: 0;
    margin: 0;
  }
  li{
    position: relative;
    list-style: none;
    margin-bottom: 5px;
    a, a:visited{
      font-family: $guide-font;
      display: block;
      padding: 12px;
      position: relative;
      border-radius: 5px;
      &:hover, &:focus, &:active, &.current-page{
        background: $guide-gray;

        color: $guide-black;
      }
    }
    .current{
      background: #ccebf3 !important;
    }
  }
}
