/* ================================
   Guide Jump Navigation
   ================================ */
   .guide-jump-nav{
     font-size: 1rem;
     list-style: none;
     margin: 0 1em 0 0;
     padding: 0;
     border-bottom: 1px solid $guide-border;
     width: 100%;
     @include grid-container;
     a, a:visited{
       color: $guide-black;
     }
     //Mobile Menu
     .jump-nav-trigger{
         position: relative;
         padding: 0.5em 1em;
         float: left;
         cursor: pointer;
         width: 100%;
         text-align: center;
         border-top: 1px solid $guide-border;
         @include grid-container;
         @media(min-width: $bp-medium){
           display: none;
         }
         .icon{
           margin-left: 10px;
         }
         .zmdi-download{
           display: inline-block;
         }
         .zmdi-upload{
           display: none;
         }
         &.open{
           .zmdi-download{
             display: none;
           }
           .zmdi-upload{
             display: inline-block;
           }
         }
       }
       #jump-nav{
         display: none;
         width: 100%;
         float: left;
         &.open{
           display: block;
         }
         @media(min-width: $bp-medium){
           display: block;
         }
         li{
           display: block;
           text-align: center;
           @media (min-width: $bp-medium){
             display: inline-block;
             text-align: left;
           }
         }
         a, a:visited{
           font-family: $guide-font;
           display: block;
           border-top: 1px solid $guide-border;
           padding: 0.5em 1em;
           @media (min-width: $bp-medium){
             display: inline-block;
             padding: 0.5em 1.5em 0.5em 0;
             border-top: 0;
             letter-spacing: -0.5px;
           }
         }
       }


   }
