//Typography
.serif{font-family: $font-stack-serif !important;}
// .special{font-family: $font-stack-special !important;}
// .condensed{font-family: $font-stack-condensed !important;}
.sans{font-family: $font-stack-sans !important;}
.monospace{font-family: $font-stack-mono !important;}

//Font Weights
.weight-100{font-weight: 100 !important;}
.weight-200{font-weight: 200 !important;}
.weight-300{font-weight: 300 !important;}
.weight-400{font-weight: 400 !important;}
.weight-500{font-weight: 500 !important;}
.weight-600{font-weight: 600 !important;}
.weight-700{font-weight: 700 !important;}
.weight-800{font-weight: 800 !important;}
.weight-900{font-weight: 900 !important;}
.weight-normal{font-weight: normal !important;}

//Font Style
.italic-demo{font-style: italic !important;}
.uppercase-demo{text-transform: uppercase !important;}

.typography-styles{
  .typography-demo-row{
    @include grid-container;
    width: 100%;
    float: left;
  }
  //large text
  .big-demo{

    line-height: 1;
    margin-bottom: $base-margin/2;
    display: block;
    font-size: 100px !important;
    @media (min-width: $bp-medium){
      font-size: 70px !important;
    }
    @media (min-width: $bp-large){
      font-size: 80px !important;
    }
    @media (min-width: $bp-xlarge){
      font-size: 100px !important;
    }
  }
  .large-type-demo{
    overflow: hidden;
    @include grid-column(12);
    @media (min-width: $bp-medium){
      @include grid-column(2);
    }
  }
  //full type set
  .full-type-demo{
    overflow: hidden;
    font-size: 16px !important;
    @include grid-column(12);
    margin-bottom: $base-margin;
    @media (min-width: $bp-medium){
      @include grid-column(8);
    }
    p{
      line-height: 1.125;
      margin-bottom: 0;
      font-size: 1.75rem;
      @media (min-width: $bp-medium){
        font-size: 1.5rem;
      }
      @media (min-width: $bp-large){
        font-size: 1.5rem;
      }
      @media (min-width: $bp-xlarge){
        font-size: 2rem;
      }
    }
  }

  .type-demo-info{
    font-weight: normal !important;
    font-family: $guide-font !important;
    font-size: 12px !important;
    line-height: 1.125;
    color: #999;
    @include grid-column(12);
    @media (min-width: $bp-medium){
      @include grid-column(2);
      padding: 4px 0;
    }
    span{
      display: inline-block;
      @media (min-width: $bp-medium){
        display: block;
        margin-bottom: 5px;
      }
      &:after{
        content: "|";
        margin: 0 5px;
        @media (min-width: $bp-medium){
          content: "";
        }
      }
      &:last-child:after{
        content: "";
      }
    }
  }



}

.typography-examples{
    h1,h2,h3,h4,h5,h6,p{
      margin: 0;
      padding: 12px 0;
    }
   .type-example-underline{
     display: block;
     border-bottom: 1px solid #ddd;

   }
 }


.guide-example-link{
  display: block;
  cursor: pointer;
  margin-bottom: 6px;
  &.standard-example-link{
    color: $link-text-color;
    text-decoration: underline;
    &.more-link:after{
      transform: translateX(0px);
    }
  }
  &.hovered-example-link{
    color: $link-hover-color;
    text-decoration: underline;
    &.more-link:after{
      transform: translateX(10px);
    }
  }
  &.visited-example-link {
    color: $visited-text-color;
    text-decoration: underline;
    &.more-link:after{
      transform: translateX(0px);
    }
  }

}
