---
title: Callouts
layout: guide
---
<div class="guide-jump-nav">
	<div class="jump-nav-trigger trigger" rel="jump-nav">
		<span>Sections</span>
		<i class="zmdi zmdi-upload icon"></i>
		<i class="zmdi zmdi-download icon"></i>
	</div>
	<nav id="jump-nav" class="triggered-area">
		<li><a href="#date-list">Date List</a></li>
    <li><a href="#call-to-action">Call to Action</a></li>
    <li><a href="#image-callout">Image Callout</a></li>
    <li><a href="#no-image-callout">No Image Callout</a></li>
    <li><a href="#link-list">Link List</a></li>
	</nav>
</div>
<section class="guide-section">
	<h3 id="date-list" class="guide-section-title">Date List</h3>
	<div class="guide-half-row">
	  <div class="guide-half-small">
	    <p class="guide-example-code"><em>Example:</em></p>
	    <div class="callout-example">
	      <%= partial "/custom/side-parts/important-dates"%>
	    </div>
	  </div><!--guide-half-small-->
	  <div class="guide-half-large">
	    <p class="guide-example-code"><em>Code:</em></p>
	<pre class="language-markup"><code><%= escape_html('<aside class="side-callout island-callout">
	<div class="callout-inner">
		<header><h1>Important Dates</h1></header>
		<ul class="date-list">
			<li>
				<span>December 1st, 2015</span>
				<span>Application Deadline</span>
			</li>
			<li>
				<span>December 1st, 2015</span>
				<span>Application Deadline</span>
			</li>
			<li>
				<span>December 1st, 2015</span>
				<span>Application Deadline</span>
			</li>
		</ul>
	</div>
</aside>') %></code></pre>
	  </div>
	</div>
</section>
<section class="guide-section">
	<h3 id="call-to-action" class="guide-section-title">Call to Action</h3>
	<div class="guide-half-row">
	  <div class="guide-half-small">
	    <p class="guide-example-code"><em>Example:</em></p>
	    <div class="callout-example">
	      <%= partial "/custom/side-parts/button-cluster" %>
	    </div>
	  </div><!--guide-half-small-->
	  <div class="guide-half-large">
	    <p class="guide-example-code"><em>Code:</em></p>
	<pre class="language-markup"><code><%= escape_html('<aside class="side-callout button-cluster">
	<ul class="clean">
		<li><a href="/" alt="/" title="/"><button class="btn btn-full">Apply Now</button></a></li>
		<li><a href="/" alt="/" title="/"><button class="btn btn-full">Request Information</button></a></li>
		<li><a href="/" alt="/" title="/"><button class="btn btn-full">Information Sessions</button></a></li>
	</ul>
</aside>') %></code></pre>
	  </div>
	</div>
</section>
<section class="guide-section">
	<h3 id="image-callout" class="guide-section-title">Image Callout</h3>
	<div class="guide-half-row">
	  <div class="guide-half-small">
	    <p class="guide-example-code"><em>Example:</em></p>
	    <div class="callout-example">
	      <%= partial "/custom/side-parts/image-callout"%>
	    </div>
	  </div><!--guide-half-small-->
	  <div class="guide-half-large">
	    <p class="guide-example-code"><em>Code:</em></p>
	<pre class="language-markup"><code><%= escape_html('<aside class="side-callout image-callout">
	<div class="callout-inner">
		<img src="http://placehold.it/520x175">
		<header><h1>Image Callout</h1></header>
		<p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		<a class="more-link" href="/" alt="/" title="/">Learn More</a>
	</div>
</aside>') %></code></pre>
	  </div>
	</div>
</section>
<section class="guide-section">
	<h3 id="no-image-callout" class="guide-section-title">No Image Callout</h3>
	<div class="guide-half-row">
	  <div class="guide-half-small">
	    <p class="guide-example-code"><em>Example:</em></p>
	    <div class="callout-example">
	      <%= partial "/custom/side-parts/no-image-callout"%>
	    </div>
	  </div><!--guide-half-small-->
	  <div class="guide-half-large">
	    <p class="guide-example-code"><em>Code:</em></p>
	  <pre class="language-markup"><code><%= escape_html('<aside class="side-callout image-callout island-callout">
	<div class="callout-inner">
		<header><h1>No Image Callout</h1></header>
		<p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		<a class="more-link" href="/" alt="/" title="/">Learn More</a>
	</div>
</aside>') %></code></pre>
	  </div>
	</div>
</section>
<section class="guide-section">
	<h3 id="link-list" class="guide-section-title">Link List</h3>
	<div class="guide-half-row">
	  <div class="guide-half-small">
	    <p class="guide-example-code"><em>Example:</em></p>
	    <div class="callout-example">
	      <%= partial "/custom/side-parts/link-list"%>
	    </div>
	  </div><!--guide-half-small-->
	  <div class="guide-half-large">
	    <p class="guide-example-code"><em>Code:</em></p>
	<pre class="language-markup"><code><%= escape_html('<aside class="side-callout island-callout">
	<div class="callout-inner">
		<header><h1>Link List</h1></header>
		<p><a href="/" alt="/" title="/">Adipiscing Dapibus Amet Ridiculus</a></p>
		<p><a href="/" alt="/" title="/">Fringilla Sem Dapibus</a></p>
		<p><a href="/" alt="/" title="/">Consectetur Cursus Venenatis Nibh</a></p>
	</div>
</aside>') %></code></pre>
	  </div>
	</div>
</section>
