---
title: Colors
layout: guide
---
<div class="guide-jump-nav">
	<div class="jump-nav-trigger trigger" rel="jump-nav">
		<span>Sections</span>
		<i class="zmdi zmdi-upload icon"></i>
		<i class="zmdi zmdi-download icon"></i>
	</div>
</div>
<section class="guide-section">
  <p class="guide-example-code"><em>Example:</em></p>
  <ul class="color-blocks">
    <li class="color-container">
      <div class="color-style guide-blue-dark"></div>
      <span class="sass">$blue-dark</span>
      <span class="hex">#03d6d</span>
    </li>
    <li class="color-container">
      <div class="color-style guide-blue"></div>
      <span class="sass">$blue</span>
      <span class="hex">#005da7</span>
    </li>
    <li class="color-container">
      <div class="color-style guide-blue-light"></div>
      <span class="sass">$blue-light</span>
      <span class="hex">#61d4ff</span>
    </li>
    <li class="color-container">
      <div class="color-style guide-blue-gray"></div>
      <span class="sass">$blue-gray</span>
      <span class="hex">#e5f3ff</span>
    </li>
    <li class="color-container">
      <div class="color-style guide-gold"></div>
      <span class="sass">$gold</span>
      <span class="hex">#d08a00</span>
    </li>
		<li class="color-container">
      <div class="color-style guide-yellow"></div>
      <span class="sass">$yellow</span>
      <span class="hex">#ddb500</span>
    </li>
    <li class="color-container">
      <div class="color-style guide-cream"></div>
      <span class="sass">$cream</span>
      <span class="hex">#fff7e5</span>
    </li>
    <li class="color-container">
      <div class="color-style guide-gray-dark"></div>
      <span class="sass">$gray-dark</span>
      <span class="hex">#4a4a4a</span>
    </li>
    <li class="color-container">
      <div class="color-style guide-gray"></div>
      <span class="sass">$gray</span>
      <span class="hex">#9b9b9b</span>
    </li>
    <li class="color-container">
      <div class="color-style guide-gray-light"></div>
      <span class="sass">$gray-light</span>
      <span class="hex">#e7e7e7</span>
    </li>
		<li class="color-container">
      <div class="color-style guide-black"></div>
      <span class="sass">$black</span>
      <span class="hex">#000000</span>
    </li>
		<li class="color-container">
      <div class="color-style guide-white"></div>
      <span class="sass">$white</span>
      <span class="hex">#ffffff</span>
    </li>
	</ul>
</section>
