---
title: Logo
layout: guide
---
<div class="guide-jump-nav">
	<div class="jump-nav-trigger trigger" rel="jump-nav">
		<span>Sections</span>
		<i class="zmdi zmdi-upload icon"></i>
		<i class="zmdi zmdi-download icon"></i>
	</div>
	<nav id="jump-nav" class="triggered-area">
		<li><a href="#header-logo">Header Logo</a></li>
		<li><a href="#footer-logo">Footer Logo</a></li>
		<li><a href="#thumb-logo">Thumb Logo</a></li>
		<li><a href="#favicon-logo">Favicon Logo</a></li>
	</nav>
</div>

<section class="guide-section">
	<h3 id="header-logo" class="guide-section-title">Header Logo</h3>
	<p class="guide-example-code"><em>Example:</em></p>
	<%= image_tag "placeholder/header-logo.jpg" %>
	<p class="guide-example-code"><em>Code:</em></p>
	<pre class="language-markup"><code><%= escape_html('') %></code></pre>
</section>
<section class="guide-section">
	<h3 id="footer-logo" class="guide-section-title">Footer Logo</h3>
	<p class="guide-example-code"><em>Example:</em></p>
	<%= image_tag "placeholder/footer-logo.jpg" %>
	<p class="guide-example-code"><em>Code:</em></p>
	<pre class="language-markup"><code><%= escape_html('') %></code></pre>
</section>
<section class="guide-section">
	<h3 id="thumb-logo" class="guide-section-title">Thumb Logo</h3>
	<p class="guide-example-code"><em>Example:</em></p>
	<%= image_tag "placeholder/thumb-logo.jpg" %>
	<p class="guide-example-code"><em>Code:</em></p>
</section>
<section class="guide-section">
	<h3 id="favicon-logo" class="guide-section-title">Favicon Logo</h3>
	<p class="guide-example-code"><em>Example:</em></p>
	<%= image_tag "placeholder/favicon-logo.gif" %>
	<p class="guide-example-code"><em>Code:</em></p>
	<pre class="language-markup"><code><%= escape_html('') %></code></pre>
</section>
