---
title: Typography
layout: guide
---
<div class="guide-jump-nav">
	<div class="jump-nav-trigger trigger" rel="jump-nav">
		<span>Sections</span>
		<i class="zmdi zmdi-upload icon"></i>
		<i class="zmdi zmdi-download icon"></i>
	</div>
	<nav id="jump-nav" class="triggered-area">
		<li><a href="#font-family">Font Family</a></li>
		<li><a href="#type-variations">Type Variations</a></li>
		<li><a href="#links">Links</a></li>
	</nav>
</div>

<section class="guide-section typography-styles">
  <h3 id="font-family" class="guide-section-title">Font Family</h3>
	<div class="typography-demo-row">
			<h4 class="guide-section-title">Sans Serif</h4>
			<div class="row sans-serif weight-400">
				<div class="large-type-demo">
					<span class="big-demo">Aa</span>
				</div>
				<div class="full-type-demo">
		    	<p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
					<p>abcdefghijklmnopqrstuvwxyz</p>
					<p>1234567890(,.;:?!$&amp;*)</p>
				</div>
				<div class="type-demo-info">
					<span><strong>Lato</strong></span>
					<span><strong>Font Weight:</strong> 400</span>
					<span><strong>Style:</strong> normal</span>
				</div>
			</div>
			<div class="row sans-serif weight-400 italic-demo">
				<div class="large-type-demo">
					<span class="big-demo">Aa</span>
				</div>
				<div class="full-type-demo">
		    	<p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
					<p>abcdefghijklmnopqrstuvwxyz</p>
					<p>1234567890(,.;:?!$&amp;*)</p>
				</div>
				<div class="type-demo-info">
					<span><strong>Lato</strong></span>
					<span><strong>Font Weight:</strong> 400</span>
					<span><strong>Style:</strong> italic</span>
				</div>
			</div>
			<div class="row sans-serif weight-700">
				<div class="large-type-demo">
					<span class="big-demo">Aa</span>
				</div>
				<div class="full-type-demo">
		    	<p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
					<p>abcdefghijklmnopqrstuvwxyz</p>
					<p>1234567890(,.;:?!$&amp;*)</p>
				</div>
				<div class="type-demo-info">
					<span><strong>Lato</strong></span>
					<span><strong>Font Weight:</strong> 700</span>
					<span><strong>Style:</strong> normal</span>
				</div>
			</div>
			<pre class="language-css"><code>//CSS
font-family: "Roboto Slab", Georgia, Times, "Times New Roman", serif;
//SASS Variable
font-family: $font-stack-serif;</code></pre>
		</div>
</section>


<section class="guide-section typography-styles">
	<div class="typography-demo-row">
			<h4 class="guide-section-title">Serif</h4>
			<div class="row serif weight-400">
				<div class="large-type-demo">
					<span class="big-demo">Aa</span>
				</div>
				<div class="full-type-demo">
		    	<p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
					<p>abcdefghijklmnopqrstuvwxyz</p>
					<p>1234567890(,.;:?!$&amp;*)</p>
				</div>
				<div class="type-demo-info">
					<span><strong>Domine</strong></span>
					<span><strong>Font Weight:</strong> 400</span>
					<span><strong>Style:</strong> normal</span>
				</div>
			</div>
			<div class="row serif weight-400 italic-demo">
				<div class="large-type-demo">
					<span class="big-demo">Aa</span>
				</div>
				<div class="full-type-demo">
		    	<p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
					<p>abcdefghijklmnopqrstuvwxyz</p>
					<p>1234567890(,.;:?!$&amp;*)</p>
				</div>
				<div class="type-demo-info">
					<span><strong>Domine</strong></span>
					<span><strong>Font Weight:</strong> 400</span>
					<span><strong>Style:</strong> italic</span>
				</div>
			</div>
			<div class="row serif weight-700">
				<div class="large-type-demo">
					<span class="big-demo">Aa</span>
				</div>
				<div class="full-type-demo">
		    	<p>ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
					<p>abcdefghijklmnopqrstuvwxyz</p>
					<p>1234567890(,.;:?!$&amp;*)</p>
				</div>
				<div class="type-demo-info">
					<span><strong>Domine</strong></span>
					<span><strong>Font Weight:</strong> 700</span>
					<span><strong>Style:</strong> normal</span>
				</div>
			</div>
			<pre class="language-css"><code>//CSS
font-family: "Roboto Slab", Georgia, Times, "Times New Roman", serif;
//SASS Variable
font-family: $font-stack-serif;</code></pre>
		</div>
</section>

<section class="guide-section typography-examples">
	<h3 id="type-variations" class="guide-section-title">Type Variations</h3>
	<h1 class="type-example-underline">Page Title</h1>
  <h2 class="type-example-underline">Subpage Title</h2>
  <h3 class="type-example-underline">Section Header</h3>
  <h4 class="type-example-underline">Sub Header</h4>
	<p class="type-example-underline"><strong>Bold content within body or form labels</strong></p>
	<p class="type-example-underline">Body content/copy</p>
	<p class="type-example-underline"><small>Small Text</small></p>
	<p class="type-example-underline">Superscript <sup>x</sup></p>
	<p class="type-example-underline">Subscript <sub>x</sub></p>
	<span class="type-example-underline">
	  <ol>
	    <li>Ordered List</li>
	    <li>Ordered List</li>
	    <li>Ordered List</li>
	  </ol>
	</span>
	<span class="type-example-underline">
	  <ul>
	    <li>Unordered List</li>
	    <li>Unordered List</li>
	    <li>Unordered List</li>
	  </ul>
	</span>
	<h3 id="links" class="guide-section-title">Links</h3>
	<p class="type-example-underline">
		<span class="guide-example-link standard-example-link" >Standard Link</span>
		<span class="guide-example-link hovered-example-link">Hovered Link</span>
		<span class="guide-example-link visited-example-link">Visited Link</span>
	</p>
	<p class="type-example-underline">
		<span class="more-link guide-example-link standard-example-link" >Standard More Link</span>
		<span class="more-link guide-example-link hovered-example-link">Hovered More Link</span>
		<span class="more-link guide-example-link visited-example-link">Visited More Link</span>
	</p>
</section>
