// Typograph
$base-font-size: 16px;
$base-line-height: 24px;
$base-margin: $base-line-height;


//Font families
$font-stack-sans: Arial, Helvetica, san-serif;
$font-stack-serif: Georgia, Times, "Times New Roman", serif;
$font-stack-mono: 'Courier New', Courier, monospace;
